.characters-container{

    div{
        overflow: hidden;
        :hover{
           background-color: red;
           border: solid green 2px; 
        }
        position: relative;
        img{
            width: 150px;
            height: 300px;
            position: absolute;
            top: -60px;
            left: -20px;
        }
    }

}