.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 600px;
  background-color: black;
  // flex-basis: 30%;
  align-self: center;
  color: white;
  margin: 50px;
  border-radius: 8px;
}

p {
  line-height: 2;
  margin: 10px;
}

// .buttonHint {
//   margin: 20px;
//   align-self: flex-end;
// }
