header {
  height: 15vh;
  background: linear-gradient(130deg, #aa1c1c, #303b2e);
  background-size: 200% 2500%;
  animation: colorAnimation 5s ease infinite;
}

main {
  background-color: black;
  height: 75vh;
  text-align: center;
}

footer {
  background-color: #515551;
  height: 10vh;
  text-align: right;
}
h1,
h2 {
  margin: 0;
  padding: 20px;
}

h2 {
  color: #aa1c1c;
}

footer p {
  margin: 0px;
  padding: 10px;
}

@keyframes colorAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.characters-container {
  display: flex;
  justify-content: center;
  color: white;
}

.characters-container div {
  border: 1px solid gray;
  height: 200px;
  width: 100px;
  margin: 20px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 5px;
}
